<div class="container">
    <!-- este div tendrá un *ngFor e iterará todos los productos que lleguen desde la db -->
    <div class="producto">
        <div class="imagen-producto">
            <img src="https://redautoshop.com.ar/assets/images/products/neumaticos/1-TR968-m.jpg" alt="">
        </div>
        <div class="dato-producto">
            <h4>Nombre del producto</h4> <!-- nombre del producto -->
            <p>$Precio</p>
            <a href="">Añadir al carrito</a>
        </div>
    </div>
    <div class="producto">
        <div class="imagen-producto">
            <img src="https://redautoshop.com.ar/assets/images/products/neumaticos/1-TR968-m.jpg" alt="">
        </div>
        <div class="dato-producto">
            <h4>Nombre del producto</h4> <!-- nombre del producto -->
            <p>$Precio</p>
            <a href="">Añadir al carrito</a>
        </div>
    </div>
    <div class="producto">
        <div class="imagen-producto">
            <img src="https://redautoshop.com.ar/assets/images/products/neumaticos/1-TR968-m.jpg" alt="">
        </div>
        <div class="dato-producto">
            <h4>Nombre del producto</h4> <!-- nombre del producto -->
            <p>$Precio</p>
            <a href="">Añadir al carrito</a>
        </div>
    </div>
    <div class="producto">
        <div class="imagen-producto">
            <img src="https://redautoshop.com.ar/assets/images/products/neumaticos/1-TR968-m.jpg" alt="">
        </div>
        <div class="dato-producto">
            <h4>Nombre del producto</h4> <!-- nombre del producto -->
            <p>$Precio</p>
            <a href="">Añadir al carrito</a>
        </div>
    </div>
    
</div>